.app-container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 2.5rem);
  min-height: calc(100vh - 2.5rem);
  padding: 1.25rem;
}

.cell-grid {
  flex-grow: 1;
  display: grid;
  gap: 1.25rem;

  /* Mobile: 1 column x 6 rows */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

/* Tablet: 2 columns x 3 rows */
@media (min-width: 768px) {
  .cell-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* Desktop: 3 columns x 2 rows */
@media (min-width: 1024px) {
  .cell-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.app-footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-top: 1.25rem;

  &>div {
    display: flex;
    justify-content: center;
  }

  &>div:first-child {
    justify-content: flex-start;
  }

  &>div:last-child {
    justify-content: flex-end;
    gap: 1.25rem;
  }
}