.cell {
  display: flex;
  flex-direction: column;

  .content {
    flex-grow: 1;
    margin-left: 1.125rem;
    margin-right: 1.125rem;
    display: flex;
    flex-direction: column;

    textarea {
      all: unset;
      display: block;
      width: 100%;
      flex-grow: 1;
      resize: none;
      line-height: 1.25rem;
    }
  }

  .touch-header-title {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
  }

}