:root {
  --gray-1: #EEE;
  --gray-2: #888;
  --gray-3: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: Menlo, Monaco, 'Courier New', monospace;

  font-family: Menlo;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--gray-1);
}

h1, h2, h3, h4, h5 {
  all: unset;
  color: var(--gray-3);
}

p, dd {
  color: var(--gray-2);
}

dd {
  margin-left: 0;
  margin-bottom: 1.125rem;
}

.gray-2 {
  color: var(--gray-2);
}

.gray-3 {
  color: var(--gray-3);
}

.underline {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: auto;
  text-decoration-color: var(--gray-2);
  text-decoration-thickness: auto;
  text-underline-offset: 15%;
  text-underline-position: from-font;
}

.spin {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.secondary {
  color: var(--gray-2);
}

.button-like {
  cursor: pointer;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-image: repeating-linear-gradient(to right,
        var(--gray-2) 0 2px,
        transparent 2px 4px);
    background-size: 4px 100%;
  }

  &:hover {

    animation: toggleItalic 0.15s steps(1, end) infinite;

    &::after {
      animation: moveDots 0.5s linear infinite;
      background-image: repeating-linear-gradient(to right,
          var(--gray-3) 0 2px,
          transparent 2px 4px);
    }
  }
}

@keyframes toggleItalic {
  0% {
    font-style: normal;
  }

  50% {
    font-style: italic;
  }

  100% {
    font-style: normal;
  }
}

@keyframes moveDots {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -4px 0;
  }
}